* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: rgb(83, 6, 6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

.site-title {
    font-size: 1.75rem;
    font-weight: 700;
    white-space: nowrap;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
}
#menu::before {
    content: "☰";
}
#menu.open::before {
	content: "❌";
}
.navigation {
    display: none;
    flex-direction: column;
    background-color:rgb(83, 6, 6);;
    list-style: none;
}
.navigation.open {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1rem 0;
}
.navigation li {
    padding: 1rem;
    text-align: center;
}
.navigation a{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
}
nav a:hover {
    text-decoration: overline;
}

.temple-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    margin: 1rem;
    
}

.grid-img{
    width: 400px;
    height: auto;
}
main h1 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    grid-row: 1/2;
    grid-column: 1/-1;
    text-align: center;
}

footer{
    text-align: center;
    padding: 5px;
}