:root{
    --primary-color: red;
    --bg-color: rgba(255, 255, 255, 0.9);
    --font-color: white;
    --font:"Roboto", sans-serif;
}

@media (min-width: 600px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    font-family: var(--font);
}

h1 {
    background-color: var(--primary-color);
    color: var(--font-color);
    text-align: center;
    padding: 20px;
    font-size: 4rem;
    margin-bottom: 10px;
    
}
.label{
    font-weight: bold;
}
img{
    display: block;
    width: 100%;
    height: auto;
}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "hero hero";
    position: relative;
}

picture{
    grid-area: hero;
}

.top-card {
    grid-area: hero;
    justify-self: start;
    align-self: start;
    text-align: right;
    background-color: var(--bg-color);
    margin: 4rem;
    padding: 2rem;
}

.bottom-card{
    grid-area: hero;
    justify-self: end;
    align-self: end;
    text-align: right;
    background-color: var(--bg-color);
    margin: 4rem;
    padding: 2rem;
}
.svg-icon{
    display: none;
}

section h2{
    background-color: var(--primary-color);
    color: var(--font-color);
    text-align: left;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: -3rem;
    
}
section p{
    margin: 20px 5px 5px 3px;
    padding: 2px;
}
footer{
    background-color: var(--primary-color);
    color: var(--font-color);
    text-align: center;
    padding: 30px;
    margin: 0;
}
.icon::after {
    content: " ⛅";
    margin-left: 0.5rem;
  }
}