:root{
    --primary-color: red;
    --bg-color: rgba(255, 255, 255, 0.9);
    --font-color: white;
    --font:"Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  font-family: var(--font);
}

h1 {
  background-color: var(--primary-color);
  color: var(--font-color);
  text-align: center;
  padding: 20px;
  font-size: 2rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.label {
  font-weight: bold;
}

.grid-parent {
  display: block;
}

.top-card,
.bottom-card {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--bg-color);
  text-align: center;
}
.svg-icon{
  display: block;
  width: 130px;
  height: auto;
  margin: 15px auto;
  
}

section h2 {
  padding: 10px 20px;
  color: var(--font-color);
  background-color: var(--primary-color);
  border-radius: 10px;

}

section p {
  margin: 10px;
}

footer {
  background-color: var(--primary-color);
  color: var(--font-color);
  text-align: center;
  padding: 20px;
}
