@media screen and (min-width: 720px){
main {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem;
    
    }

nav {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    position: static;
    padding: 10px;
    list-style: none;
    }
  
#menu {
    display: none;
    }

main h1 {
    grid-column: 1/-1;
    text-align: center;
    }

footer{
    text-align: center;
    }
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
}
figcaption {
    text-align: center;
    font-size: large;
    padding: 5px;
}