* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
h1{
    font-size: 2.5rem;
}

header{
    background-color: #cc6f00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    color: white;
    font-family: "Chewy", system-ui;
}

#hero {
    background-color: #ffe5b4;
    text-align: left;
    padding: 3rem 1rem;
    font-family: "Chewy", system-ui;
    font-size: 1.5rem;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
}

#menu::before {
    content: "☰";
    font-size: xx-large;
    color: white;
}
#menu.open::before {
	content: "X";
    color: white;
}
.navigation {
    display: none;
    flex-direction: column;
    list-style: none;
}

.navigation.open {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: #cc6f00;
}

.navigation li {
    padding: 1rem;
    text-align: center;
}

.navigation a{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
}

nav a:hover {
    text-decoration: overline;
}

footer{
    background-color: #cc6f00;
    margin-top: 1rem;
    text-align: center;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold; 
    
}
#selector-form{
    margin: 1rem;
    font-family: "Roboto", sans-serif;
}
.label{
    font-weight: 700;
}
#selector-form button{
    width: 200px;
    margin: 0.5rem;
    background-color: #cc6f00;
    color: white;
    padding: 8px;
    text-decoration: none;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    display: block;
    text-align: center;
    font-size: larger;
}
select{
    margin: 10px;
    display: block;
    padding: 8px;
}
#resultsContainer.game-grid{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    margin: 1rem;
    justify-items: center;
}
.game-card{
    width: 100%; 
    text-align: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
}
.game-card img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.game-card h4{
    text-decoration: underline;
    margin: 0.6rem;
}
h3{
    text-align: center;
    margin-top: 2rem;
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
}

@media screen and (min-width: 720px){
    nav {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    position: static;
    padding: 10px;
    list-style: none;
    }

#menu {
    display: none;
    }

#resultsContainer.game-grid{
    grid-template-columns: 1fr 1fr 1fr;
}

h3{
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 15px;
    font-size: x-large;
    font-weight: 900;
    text-decoration: underline;
}
.game-card img {
  max-width: 100%;
  height: auto;
  max-height: 350px;
  display: block;
  object-fit: contain;
}
}